List((
    texture_width: 2100,
    texture_height: 600,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 300,
            height: 300,
        ),
        (
            x: 4,
            y: 0,
            width: 4,
            height: 4,
        ),
    ],
))